@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: auto;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 25px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.wave-animation {
  animation: wave 1s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s forwards; /* 1-second fade-in */
}

.fade-out {
  animation: fadeOut 1s forwards; /* 1-second fade-out */
}
